# Files to not upload to the remote repository in Github.

# Vim and General Temp Files
*.swp
*~
*.txt

# .NET Build Files
bin/*
obj/*

# Results and Logs Files
Logs/*
Results/*

# Dotnet, Crossgen2, and Processed Binaries
Resources/Crossgen2*
Resources/Dotnet*
Resources/*output*
Resources/*.txt
